@import "../../../styles/config";

.image-input {
    margin: 5px 0;
    
    &__button-group {
        display: flex;
        align-items: center;;
    }

    &__input {
        opacity: 0;
        height: 1px;
        display: block
    }

    &__button {
        position: relative;
        width: 50px;
        height: 50px;
        background: $color-blue-lightest;
        border-radius: 4px;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: 700;
        font-size: 22px;
        font-family: serif;
        margin-right: 10px;

        svg path {
            fill: $color-blue;
        }

        &--loading {
            background: $color-gray-lightest;
            cursor: default;
        }
        
        &:before {
            content: '';
            position: absolute;
            width: 49px;
            height: 49px;
            border-radius: 4px;
            border:1px dashed $color-blue-lightest;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    &__edit {
        background: transparent;
        border: 0;
        color: $color-blue;
        cursor: pointer;
        font-size: 13px;
    }

    &__delete {
        background: transparent;
        border: 0;
        color: $color-red;
        cursor: pointer;
        font-size: 13px;
    }
    
    &__image {
        width: 22px;
        height: 22px;
    }
}

