@import "../../../styles/config";

.plan-form {    

    margin: 30px 0 0 0;

    &__row {
        display: flex;
        flex-wrap: wrap;
        gap: 0 30px;

    }

    &__billing-type {
        flex: 1;
        max-width: 100%;
    }

    &__input-select-group {
        margin-bottom: 30px;
        display: flex;
    }

    &__input {
        margin-right: 10px;
    }

    &__footer {
        display: flex;
        gap: 10px;
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 800px) {
    .plan-form { 
        &__row {
            display: flex;
            flex-direction: column;
        }

        &__column {
            width: 100%;
        }  
    }
}