@import "../../../styles/config";

.general-info {
    border-bottom: 1px solid $color-gray-light;
    padding: 30px;

    .general-info__heading {
        margin-bottom: 30px;
    }

    &__row {
        display: flex;
        gap: 0 30px;
    }

   
}

@media screen and (max-width: 800px) {
    .general-info { 
        &__row {
            display: flex;
            flex-direction: column;
        }

        &__column {
            width: 100%;
        }  
    }
}