@import "../../../styles/config";

div.support-resources {
  margin-bottom: 40px;

  &__section-title {
    flex: 1;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid $color-gray-lighter;
    padding: 25px 30px;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    padding: 80px 20px;
    text-align: center;
  }

  &__forums-button {
    color: $color-blue;
  }

  &__section-support {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: $brkpoint-sm) {
  .support-resources {
    &__header {
      flex-direction: column;
      gap: 20px;
    }

    &__section-support {
      flex-direction: column;
    }
  }
}
