@import "../../../styles/config";

.comment-author {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  color: $color-gray-darkest;
  gap: 10px;

  &__text {
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
  }

  &__avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}
