@import "../../../styles/config";

.link {
  font-size: 13px;
  color: $color-gray-darkest;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $color-blue;
  }
}
