@import "../../../styles/config";

.tickets-table {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &--empty {
    padding: 80px 0;
  }

  &__no-tickets {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  &__no-tickets-icon {
    margin-bottom: 20px;
  }

  tr &__comment-author-td {
    padding: 25px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__comment-author-tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
}
