@import "../../../styles/config";

.table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  overflow-x: auto;

  &__th {
    padding: 0 30px 0 0;
    font-size: 10px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid $color-gray-lighter;
  }

  &__td {
    padding: 15px 45px 15px 0;
    border-bottom: 1px solid $color-gray-lighter;
  }
}

@media (max-width: $brkpoint-md) {
  .table {
    &__thead {
      display: none;
    }

    &__tr {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      border: 1px solid $color-gray-lighter;
      padding: 15px;
    }

    &__td {
      border: 0;
      padding: 15px 0 20px 0;
      &:before {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        text-transform: uppercase;
        font-size: 12px;
        content: attr(data-title);
        padding-bottom: 3px;
        text-decoration: underline;
      }
    }
  }
}
