@import "../../../styles/config";

.tickets-section {
  &__section-title {
    flex: 1;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    border-bottom: 1px solid $color-gray-lighter;
    padding: 25px 30px;
  }

  &__body {
    padding: 25px 30px 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__pagination {
    background-color: $color-gray-light;
    padding: 30px 0;
  }
}

@media (max-width: $brkpoint-sm) {
  .tickets-section {
    &__header {
      flex-direction: column;

      gap: 20px;
    }

    &__pagination {
      padding-right: 10px;
      padding-left: 10px;
      box-sizing: border-box;
    }
  }
}
