@import "../../../styles/config";

$menu-item-selector: ".menu-item";

#{$menu-item-selector} {
  width: 100%;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;

  &:hover {
    #{$menu-item-selector}__text {
      text-decoration: underline;
    }
  }

  &__count {
    border-radius: 50%;
    font-size: 11px;
    font-weight: 700;
    width: 20px;
    height: 20px;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;

    &--blue {
      background: $color-blue;
    }

    &--green {
      background: $color-green;
    }

    &--purple {
      background: $color-purple;
    }

    &--gray {
      background: $color-gray-lighter;
      color: $color-black;
    }
  }
}
