@import "../../../styles/config";

.accordion-item {
    position: relative;

    &__header {
        display: flex;
        justify-content: space-around;
        text-align: left;
        border-top: 1px solid $color-gray-light;
        border-bottom: 1px solid $color-gray-light;
        padding: 25px 0;
    }

    &__header-element {
        font-size: 15px;
        overflow:hidden; 
        white-space:nowrap; 
        text-overflow: ellipsis;
        
        &--name {
            flex: 3;
            font-weight: 700;
        }

        &--status { 
            flex: 2;
        }

        &--price { 
            flex: 2;
        }

        &--icon { 
           margin-left: 30px;
           cursor: pointer;
        }
    }

    &__menu {
        position: absolute;
        right: 3em;
        top: 3.5em;
        z-index: 999;
    }
}