@import "../../../styles/config";

.loading {
    border: 4px solid transparent; 
    border-top: 4px solid $color-gray-darkest; 
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 0.8s linear infinite;  
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}