@import "../../../styles/config";

.menu {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    width: 160px;
    border: 1px solid $color-gray-light;
    border-radius: 4px;
    background: $color-white;
}