@import "../../../styles/config";

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  // Left side
  &__pages-list {
    display: flex;
    gap: 10px;
  }

  &__page {
    color: $color-gray-dark;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__page--active {
    border-radius: 50%;
    color: $color-white;
    background: $color-black;
  }

  // Right side
  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__all-pages {
    margin-right: 20px;
    color: $color-gray-darkest;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
  }

  &__buttons-wrapper {
    display: flex;
    gap: 10px;
  }

  &__button {
    padding: 10px;
  }
}
