@import "../../../styles/config";

.pricing-plans {
    border-bottom: 1px solid $color-gray-light;
    padding: 30px;

    &__heading {
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 30px;
    }
}
