// colors
$color-white: #ffffff;
$color-black: #000000;
$color-black-gray: #333333;
$color-gray-darkest: #555555;
$color-gray-dark: #777777;
$color-gray-light: #e6e6e6;
$color-gray-lighter: #ededed;
$color-gray-lightest: #f9f9f9;
$color-blue: #286ef1;
$color-blue-light: #d4e2ff;
$color-blue-lightest: #e3eaf9;
$color-red: #f53c3c;
$color-green: #52d194;
$color-purple: #9026b1;

// fonts
$font-family-primary: "Roboto", sans-serif;

// Breakpoints
$brkpoint-sm: 576px;
$brkpoint-md: 800px;
$brkpoint-lg: 1170px;
