@import "../../../styles/config";

.tag {
  font-size: 10px;
  color: $color-white;
  padding: 5px 10px;
  border-radius: 14px;
  font-weight: 500;
  line-height: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  &__icon {
    display: flex;
    margin-right: 3px;
  }

  &--blue {
    background: $color-blue;
  }

  &--green {
    background: $color-green;
  }

  &--purple {
    background: $color-purple;
  }

  &--gray {
    background: $color-gray-lighter;
    color: $color-black;
  }
}
