@import "../../../styles/config";

.tooltip {
    background: $color-gray-lighter;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    display: inline-flex;
    padding: 5px 8px;
    border-radius: 2px;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right:5px solid  $color-gray-lighter; 
        border-radius: 4px;
        top: calc(50% - 5px);
        left: -4px;
    }
}
