@import "../../../styles/config";

.toggle {
    display: inline-block;
    border: 1px solid $color-gray-light;
    border-radius: 4px;
    background: $color-blue-light;

    button:nth-child(1) {
        border-radius: 4px 0 0 4px;
    }

    button:nth-child(2) {
        border-radius: 0 4px 4px 0;
    }
    
    &__button {
        background: $color-white;
        color: $color-gray-dark;
        border: 0;
        padding: 13px 25px;
        font-size: 15px;
        font-weight: 700;
        color: $color-gray-dark;
        cursor: pointer;
        &--active {
            background: $color-blue-light;
            color: blue;
        }
    }
}