@import "../../../styles/config";

.button {
  background: $color-white;
  color: $color-black;
  border-radius: 4px;
  padding: 12px 25px;
  font-weight: 700;
  border: 1px solid $color-gray-light;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.7;
  }

  &__icon {
    display: flex;
    margin-right: 10px;

    &--right {
      order: 1;
      margin-right: 0;
      margin-left: 10px;
    }

    &--alone {
      margin-right: 0;
      margin-left: 0;
    }
  }

  // Variants
  &--gray {
    background: $color-gray-lightest;
    color: $color-gray-darkest;
  }

  &--transparent {
    border: 0;
    background: transparent;
  }

  &--blue {
    background: $color-blue;
    color: $color-white;
  }
}
