@import "../../../styles/config";

.filter-by {
  display: inline-block;
  position: relative;

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 120px;
  }

  &:hover {
    cursor: pointer;
  }

  &__menu {
    position: absolute;
    right: 0;
    top: -10px;
    z-index: 1;
  }
}

@media (max-width: $brkpoint-sm) {
  .filter-by {
    &__menu {
      right: -65px;
    }
  }
}
