@import "../../../styles/config";

.create-product-modal {
    width: 800px;
    margin: auto;
    border-radius: 10px;
    background: $color-white;
    padding: 53px 0 0 0;
    max-width: 100%;
    display: block;

    &__heading {
        text-align: center;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        padding: 30px;
        gap: 15px;
    }
   
}