@import "../../../styles/config";

.input-wrapper {
  max-width: 100%;

  &__input {
    width: 100%;
    border: 1px solid $color-gray-light;
    border-radius: 4px;
    padding: 9px 14px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    box-sizing: border-box;
    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  &--price {
    position: relative;
    display: inline-block;

    &::after {
      color: $color-black;
      position: absolute;
      right: 14px;
      top: 15px;
      content: "USD";
      pointer-events: none;
    }
  }

  &--search {
    position: relative;
    input {
      background: $color-gray-lighter;
      border-radius: 23px;
      padding: 4px 42px 4px 42px;
      &:focus {
        background: $color-white;
      }
    }
  }

  &__search-icon {
    position: absolute;
    top: calc(50% - 7px);
    left: 20px;
    cursor: pointer;
  }

  &__search-clear {
    position: absolute;
    top: calc(50% - 9px);
    right: 20px;
    cursor: pointer;
  }
}
