@import "../../../styles/config";

.icon-box {
    background: $color-black-gray;
    border-radius: 50%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
    &--small {
        width: 32px;
        height: 32px;
        padding: 5px;
        
        svg {
            width: 16px;
            height: 16px;
        }
       
    }

    &--medium {
        width: 64px;
        height: 64px;
        padding: 10px;

        svg {
            width: 32px;
            height: 32px;
        }
    }

    &--large {
        width: 150px;
        height: 150px;
        padding: 20px;

        svg {
            width: 64px;
            height: 64px;
        }
    }

}
