@import "../../../styles/config";

.select {
    border:1px solid $color-gray-light;
    background: $color-white;
    border-radius: 4px;
    padding: 7px 14px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;

    // Dropdown arrow style 
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='5' viewBox='0 0 7 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.33252 0.662109L0.586426 0.420898C0.628743 0.370117 0.683757 0.332031 0.751465 0.306641C0.819173 0.272786 0.891113 0.255859 0.967285 0.255859C1.04346 0.255859 1.11117 0.272786 1.17041 0.306641C1.23812 0.332031 1.29736 0.370117 1.34814 0.420898L3.49365 2.56641L5.65186 0.420898C5.70264 0.370117 5.75765 0.332031 5.81689 0.306641C5.8846 0.272786 5.95654 0.255859 6.03271 0.255859C6.10889 0.255859 6.18083 0.272786 6.24854 0.306641C6.31624 0.332031 6.37549 0.370117 6.42627 0.420898L6.65479 0.662109C6.70557 0.712891 6.74365 0.772135 6.76904 0.839844C6.8029 0.899089 6.81982 0.966797 6.81982 1.04297C6.81982 1.11914 6.8029 1.19108 6.76904 1.25879C6.74365 1.3265 6.70557 1.38151 6.65479 1.42383L3.88721 4.2041C3.83643 4.25488 3.77718 4.2972 3.70947 4.33105C3.64176 4.35645 3.57406 4.36914 3.50635 4.36914C3.43018 4.36914 3.35824 4.35645 3.29053 4.33105C3.22282 4.2972 3.16357 4.25488 3.11279 4.2041L0.33252 1.42383C0.290202 1.38151 0.252116 1.3265 0.218262 1.25879C0.192871 1.19108 0.180176 1.11914 0.180176 1.04297C0.180176 0.966797 0.192871 0.899089 0.218262 0.839844C0.252116 0.772135 0.290202 0.712891 0.33252 0.662109Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 17px top 50%;
    background-size: 7px;
}