@import "../../../styles/config";

.label {
    color: $color-gray-darkest;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 6px;
    display: block;

    &__optional {
        font-weight: 400;
    }
}