// import partials
@import "config/";

// Import Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

// Base Styles
body {
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
}

p {
  font-family: $font-family-primary;
  margin: 0;
  padding: 0;
}

// Headings
h2 {
  font-size: 24px;
  line-height: 35px;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

h5 {
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
}
